html {
    font-size: 16px;
    color: black;
    font-family: 'roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.3125rem;
    position: fixed;
    width: 100%;
    margin: 0 auto;
}

main.container {
    top: 4.3125rem;
    position: relative;
}

/* Typography */



/* nav left styles */

.menu-icon {
    width: 1.067rem;
    padding: 0.625rem;
    border-radius: 0.9375rem;
    margin-left: 0.625rem;
    transition: hover 1s;
}

.menu-icon:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}

.logo {
    width: 120px;
    margin-bottom: 5px;
}

.nav-left li {
    display: inline-block;
    margin-left: 5px;
}

/* nav centre styles */

.flexbox {
    display: flex;
}

.search-bar {
    background-color: #fff;
    width: 500px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 40px 0 0 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 25px;
    margin: 0;
}

.search-bar:active {
    box-shadow: 0px 0px 2px blue;
    border: 1px solid #000;
}

.search-bar:hover {
    box-shadow: 0px 0px 2px blue;
}

.search-btn {
    border: 1px solid #999;
    height: 40px;
    width: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 50px 50px 0px;
}

.search-btn:hover {
    background-color: #eee;
    cursor: pointer;
}

.input {
    outline: none;
    border: none;
    font-size: 1.2rem;
    width: 100%;
}

@media only screen and (max-width: 960px) {
    .search-bar {
        max-width: 500px;
        min-width: none;
        width: auto;
    }
}

@media only screen and (max-width: 617px) {
    .search-bar {
        display: none;
    }

    .search-btn {
        border: none;
        border-radius: 50px;
        width: 50px;
    }
}

.mic {
    border: 1px transparent;
    padding: 10px;
    margin: 0 20px 0 10px;
    width: 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mic:hover {
    background-color: #ddd;
}


/* Side bar work */

.side-bar {
    display: inline-block;
    position: absolute;
}

.side-bar li, a {
    text-decoration: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 10px;
    flex-direction: column ;
}

.side-bar p {
    font-size: 10px;
    margin-top: 10px;
}

.side-bar li:hover {
    background-color: #eee;
    cursor: pointer;
}

.side-bar a:active {
    color: inherit;
}


/* Side bar OVERLAY */
.sb-expanded {
    position: absolute;
    display: none;
    border: 1px solid black;
    z-index: 3;
    padding: 0px 10px;
}

.sb-expanded li {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 150px;
}

.sb-expanded p {
    font-size: 0.9rem;
    margin-left: 30px;
}

.sb-expanded li:hover {
    background-color: #eee;
    cursor: pointer;
}

hr {
    border: 1px solid #ddd;
    margin: 10px 0 10px 10px;
}
